%section.people
  %header
    %h2 People I Follow
  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - current_user.relations.each do |rel|
        %tr
          %td
            %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('#{rel.email}'.downcase)}?s=40")
            = link_to rel.name, user_path(rel)
          %td.extra-padding #{rel.queue_items.count}
          %td.extra-padding #{current_user.inverse_relationships.count}
          %td.extra-padding
            = link_to "", method: :post do
              %i.glyphicon.glyphicon-remove
